################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/Presentation/Nop.Web/Administration/obj/Release
/src/Presentation/Nop.Web/Administration/obj/Debug
/src/Presentation/Nop.Web/App_Data/InstalledPlugins_fabio_hom.txt
/src/Presentation/Nop.Web/App_Data/Settings_fabio_hom.txt
/src/Presentation/Nop.Web/App_Data/Settings_old.txt
*.suo
/src/Libraries/Nop.Core/obj/Debug
/src/Libraries/Nop.Core/obj/Release
/src/Libraries/Nop.Data/obj/Debug
/src/Libraries/Nop.Data/obj/Release

src/Libraries/Nop.Core/bin/

src/Libraries/Nop.Core/obj/

src/Libraries/Nop.Services/bin/

src/Libraries/Nop.Services/obj/

src/Libraries/Nop.Data/bin/

src/Libraries/Nop.Data/obj/

src/packages/

src/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj/

src/Plugins/Nop.Plugin.DiscountRules.HadSpentAmount/obj/

src/Plugins/Nop.Plugin.DiscountRules.HasAllProducts/obj/

src/Plugins/Nop.Plugin.DiscountRules.HasOneProduct/obj/

src/Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj/

src/Plugins/Nop.Plugin.ExternalAuth.Facebook/obj/

src/Plugins/Nop.Plugin.Feed.Froogle/obj/

src/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj/

src/Plugins/Nop.Plugin.Payments.Manual/obj/

src/Plugins/Nop.Plugin.Payments.PayPalDirect/obj/

src/Plugins/Nop.Plugin.Payments.PayPalStandard/obj/Debug/

src/Plugins/Nop.Plugin.Payments.PayPalStandard/obj/

src/Plugins/Nop.Plugin.Payments.PurchaseOrder/obj/

src/Plugins/Nop.Plugin.Pickup.PickupInStore/obj/

src/Plugins/Nop.Plugin.Shipping.AustraliaPost/obj/

src/Plugins/Nop.Plugin.Shipping.ByWeight/obj/

src/Plugins/Nop.Plugin.Shipping.CanadaPost/obj/

src/Plugins/Nop.Plugin.Shipping.Fedex/obj/

src/Plugins/Nop.Plugin.Shipping.FixedRateShipping/obj/

src/Plugins/Nop.Plugin.Shipping.UPS/obj/

src/Plugins/Nop.Plugin.Shipping.USPS/obj/

src/Plugins/Nop.Plugin.Tax.CountryStateZip/obj/

src/Plugins/Nop.Plugin.Tax.FixedRate/obj/

src/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj/

src/Plugins/Nop.Plugin.Widgets.NivoSlider/obj/

src/Presentation/Nop.Web/Administration/obj/

src/Presentation/Nop.Web/bin/

src/Presentation/Nop.Web/Content/Images/Thumbs/

src/Presentation/Nop.Web/obj/

src/Presentation/Nop.Web/App_Data/

src/Presentation/Nop.Web/Plugins/

src/Presentation/Nop.Web.Framework/bin/

src/Presentation/Nop.Web.Framework/obj/

src/Tests/Nop.Core.Tests/bin/

src/Tests/Nop.Core.Tests/obj/

src/Tests/Nop.Data.Tests/bin/

src/Tests/Nop.Data.Tests/obj/

src/Tests/Nop.Services.Tests/bin/

src/Tests/Nop.Services.Tests/obj/

src/Tests/Nop.Tests/bin/

src/Tests/Nop.Tests/obj/

src/Tests/Nop.Web.MVC.Tests/bin/

src/Tests/Nop.Web.MVC.Tests/obj/

src/Presentation/Nop.Web/Administration/Nop.Admin.csproj.user

src/Presentation/Nop.Web/Nop.Web.csproj.user
